%nav#breadcrumbs
  %a{ :href => "/" } Home
  &raquo;
  - if @page.parent
    %a{ :href => @page.parent.abspath }= @page.parent.heading
    &raquo;
  = @page.heading

= haml :meta, :layout => false

%article
  ~ @page.to_html
  
  %p
    Did you enjoy this post? <a href="/feed.xml">Grab the feed here</a>.

  = haml :comments, :layout => false

= haml :sidebar, :layout => false